body {
  margin: 0;
  overflow: hidden; }

.myVideo {
  border: 1px solid;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 200px; }
  .myVideo video {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 200px; }
  .myVideo .loading {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    display: block;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center center; }
  .myVideo .controls {
    border: 1px solid;
    /*border:1px solid;*/
    position: relative;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.9);
    bottom: 0;
    width: 100%;
    box-sizing: content-box; }
    .myVideo .controls .pausebut {
      border: none;
      border-radius: 3px;
      width: 1rem;
      height: 1rem;
      border-radius: 1rem;
      color: #fff;
      cursor: pointer;
      outline: none;
      background-image: url(../images/play.png);
      background-size: 100%;
      padding: 0; }
    .myVideo .controls .pausebut--active {
      background-image: url(../images/pause.png); }
    .myVideo .controls .scale_panel {
      color: #999;
      display: inline-block;
      position: relative;
      vertical-align: super; }
      .myVideo .controls .scale_panel span {
        font-size: 0.5rem; }
      .myVideo .controls .scale_panel .totalTime {
        padding-left: 0.4rem; }
      .myVideo .controls .scale_panel .scale {
        background-repeat: repeat-x;
        background-position: 0 100%;
        background-color: #E4E4E4;
        border-left: 1px #83BBD9 solid;
        width: 4rem;
        height: 3px;
        position: relative;
        font-size: 0px;
        border-radius: 3px;
        display: inline-block;
        top: -3px; }
        .myVideo .controls .scale_panel .scale #btn {
          border: 1px solid #b1b1b1;
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 0.7rem;
          background-color: #e4e4e4;
          position: absolute;
          left: -2px;
          top: -5px;
          cursor: pointer; }
        .myVideo .controls .scale_panel .scale .curBar {
          background-repeat: repeat-x;
          background-color: #3BE3FF;
          width: 0px;
          position: absolute;
          height: 3px;
          left: 0;
          bottom: 0; }
      .myVideo .controls .scale_panel .volumeBar {
        background-repeat: repeat-x;
        background-position: 0 100%;
        background-color: #E4E4E4;
        border-left: 1px #83BBD9 solid;
        width: 2rem;
        height: 3px;
        position: relative;
        font-size: 0px;
        border-radius: 3px;
        display: inline-block;
        top: -3px;
        margin-left: 1rem; }
        .myVideo .controls .scale_panel .volumeBar #volumeBtn {
          border: 1px solid #b1b1b1;
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 0.7rem;
          background-color: #e4e4e4;
          position: absolute;
          left: -2px;
          top: -5px;
          cursor: pointer; }
        .myVideo .controls .scale_panel .volumeBar .curVolumeBar {
          background-repeat: repeat-x;
          background-color: #3BE3FF;
          width: 0px;
          position: absolute;
          height: 3px;
          left: 0;
          bottom: 0; }
        .myVideo .controls .scale_panel .volumeBar .volume {
          font-size: 0.5rem;
          position: absolute;
          left: -26px;
          top: -7px;
          background: url(../images/volume.png) no-repeat;
          background-size: auto 100%;
          background-position: center left;
          padding-left: 0.5rem; }
        .myVideo .controls .scale_panel .volumeBar .volumeIcon {
          font-size: 0.5rem;
          position: absolute;
          left: -26px;
          top: -5px;
          background: url(../images/volume.png) no-repeat;
          background-size: auto 100%;
          background-position: center center;
          padding-left: 0.5rem;
          width: 0.6rem;
          height: 0.6rem;
          display: inline-block;
          /* padding: 0; */ }
      .myVideo .controls .scale_panel .fullScreen {
        cursor: pointer; }
