body {
  margin: 0;
  overflow: hidden;
}

.myVideo {
  border: 1px solid;
  position: relative;
  display: inline-block;
  width: 100%;
  // height: 20%;
  // max-height: 20%;
  height: 200px;
  video {
    position: relative;
    z-index: 1;
    width: 100%;
    // height: 20%;
    height: 200px;
  }
  //loading
  .loading {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    display: block;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .controls {
    border:1px solid;
    /*border:1px solid;*/
    position: relative;
    // padding: 10px;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.9);
    bottom: 0;
    width: 100%;
    box-sizing: content-box;
    // 暂停按钮
    .pausebut {
      border: none;
      border-radius: 3px;
      width: 1rem;
      height: 1rem;
      border-radius: 1rem;
      // background: #fe5b56;
      color: #fff;
      // line-height: 26px;
      // margin-right: 15px;
      cursor: pointer;
      outline: none;
      background-image: url(../images/play.png);
      background-size: 100%;
      padding:0;
      &:hover {
        // background: #ff4936;
      }
      &:active {
        // background: red;
      }
    }
    .pausebut--active{
      background-image: url(../images/pause.png);
    }

    .scale_panel {
      color: #999;
      // line-height: 18px;
      // left: 100px;
      // top: -0px;
      display: inline-block;
      position: relative;
      span{
        font-size: 0.5rem;
      }
      .totalTime{
        padding-left: 0.4rem;
      }
      .scale {
        background-repeat: repeat-x;
        background-position: 0 100%;
        background-color: #E4E4E4;
        border-left: 1px #83BBD9 solid;
        width: 4rem;
        height: 3px;
        position: relative;
        font-size: 0px;
        border-radius: 3px;
        display: inline-block;
        top: -3px;
        #btn {
          // background: url(../images/scroll.gif) no-repeat;
          // width: 8px;
          // height: 16px;
          border:1px solid #b1b1b1;
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 0.7rem;
          background-color:#e4e4e4;
          position: absolute;
          left: -2px;
          top: -5px;
          cursor: pointer;
        }
        .curBar {
          background-repeat: repeat-x;
          background-color: #3BE3FF;
          width: 0px;
          position: absolute;
          height: 3px;
          left: 0;
          bottom: 0;
        }

      }

      .volumeBar {
        background-repeat: repeat-x;
        background-position: 0 100%;
        background-color: #E4E4E4;
        border-left: 1px #83BBD9 solid;
        width: 2rem;
        height: 3px;
        position: relative;
        font-size: 0px;
        border-radius: 3px;
        display: inline-block;
        top: -3px;
        margin-left:1rem;
        #volumeBtn {
          // background: url(../images/scroll.gif) no-repeat;
          // width: 8px;
          // height: 16px;
          border:1px solid #b1b1b1;
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 0.7rem;
          background-color:#e4e4e4;
          position: absolute;
          left: -2px;
          top: -5px;
          cursor: pointer;
        }
        .curVolumeBar {
          background-repeat: repeat-x;
          background-color: #3BE3FF;
          width: 0px;
          position: absolute;
          height: 3px;
          left: 0;
          bottom: 0;
          //display: inline-block;
        }
        .volume {
          font-size:0.5rem;
          position: absolute;
          left: -26px;
          top: -7px;
        }

      }
      .fullScreen{
        cursor: pointer;
      }
    }
  }
}
